body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 40em;
}

.logo {
  color: black;
  font-style: italic;
  text-decoration: none;
}

label {
  display: block;
  margin: auto;
  font-weight: bold;
}

label input {
  display: block;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: 5px;
}

.small-text {
  font-size: .7rem;
}

.footer-text {
  color: grey;
}

.footer-image {
  margin-bottom: -2rem;
  width: 100%;
}
